/* resources/css/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos customizados do projeto */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
